_build/
_opam/
_python_venv/
dune-workspace*
result
*.install
*.spellok
*.catala*.errors
*.html
.vscode/
.ninja_*
node_modules/

.envrc
.direnv

.catleg_secrets.toml

js/src/french_law.js
python/src/aides_logement.py
python/src/allocations_familiales.py
